<div class="project-container">
  <h1><span>{{people.length}}</span>&nbsp;Birthdays Today</h1>
  <!-- Passing the people property, which is the Array of people (refer to
    the ts file of this template. The people property as binded to the "peopleInChildComponent"
    in the app-people-list component. Make sure @Input() is in the app-people-list ts file) -->
  <app-people-list [peopleInChildComponent]="people"></app-people-list>
  <button type="button" (click)="clearAll()">Clear All!</button>
</div>
